.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  /* grid-gap: 10px; */
}

.logo{
  grid-column: 1/5;
}



.wrapper div:nth-child(even){
  background: red;
}

.wrapper div:nth-child(odd){
  background: green;
}
